body {
    background-color: rgb(35,35,35);
    color: white;
    font-family: monospace;
}

.mainContainer {
    display: block;
    margin: auto;
    background-color: rgb(45,45,45);
    width: 60%;
    padding: 4px 16px;
    min-height: 400px;
    border-radius: 10px;
    margin-top: 10px;
}
.mainContainer .text {
    padding: 2px 18px;
}

@media screen and (max-width: 850px) {
    .mainContainer {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .mainContainer {
        width: 100%;
        padding: 0;
        padding-bottom: 10px;
    }
}

.songs {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 10px;
}

.songs .song {
    display: block;
    margin: auto;
    color: white;
    text-decoration: none;
    background-color: rgb(25,25,25);
    padding: 6px 24px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    border-left: 4px solid rgb(75,75,75);
    transition: 0.2s ease-in-out;
}
.songs .song:hover {
    background-color: rgb(20,20,20);
    border-color: rgb(190,190,190);
}

.error {
    display: block;
    margin: auto;
    background-color: rgba(220,0,0,0.4);
    border: 2px solid red;
    padding: 2px 16px;
    text-align: center;
}
.error:empty {
    display: none;
}

.info {
    font-size: 24px;
    padding: 0 6px;
}

.lyrics {
    display: block;
    margin: auto;
    height: 500px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}
.lyrics .lines {
    display: block;
    margin: auto;
    position: absolute;
    left:0;right:0;
    bottom:0;top:0;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* TODO: Custom scrollbar. */
.lyrics .lines .line {
    display: block;
    margin: auto;
    font-size: 42px;
    margin-top: 10px;
    color: rgb(180,180,180);
    transition: 0.05s ease-in-out color;
}
.lyrics .lines .line.gap {
    margin-bottom: 50px;
}
.lyrics .lines .line:hover {
    text-decoration: underline;
    cursor: pointer;
}
.lyrics .lines .line.played {
    color: white;
}

@media screen and (max-width: 450px) {
    .lyrics .lines .line {
        font-size: 32px;
    }
}

.audio {
    display: block;
    width: 100%;
}

.options {
    display: block;
    margin: auto;
    padding: 8px 0;
}
.options .content {
    display: block;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out max-height;
}

.switch {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 14px;
    vertical-align: middle;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top:0;left:0;bottom:0;right:0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 14px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(14px);
}